# Data Frame 

Datalara daha okunakli bir cerceve ekler.

In [8]:
import numpy as np

In [9]:
import pandas as pd

In [10]:
data = np.random.rand(4, 3)

In [11]:
data

array([[0.49500299, 0.48461835, 0.97222177],
       [0.8237544 , 0.67979387, 0.55664861],
       [0.02355712, 0.40195634, 0.17097005],
       [0.59617233, 0.85902269, 0.37687097]])

In [12]:
dataFrame = pd.DataFrame(data)

In [13]:
dataFrame

          0         1         2
0  0.495003  0.484618  0.972222
1  0.823754  0.679794  0.556649
2  0.023557  0.401956  0.170970
3  0.596172  0.859023  0.376871

#### index olarak cagirirsak column olarak sonuc dondurur.

In [16]:
dataFrame[0]

0    0.495003
1    0.823754
2    0.023557
3    0.596172
Name: 0, dtype: float64

In [17]:
dataFrame[1]

0    0.484618
1    0.679794
2    0.401956
3    0.859023
Name: 1, dtype: float64

In [19]:
type(dataFrame[2])

pandas.core.series.Series

### DataFrame(data, index, columns, dtypes(datatype), copy) value'lerini alir.

In [28]:
dataFrame2 = pd.DataFrame(data=data, index=['Ali', 'Ayse', 'Osman', 'Mevlut'], columns=['Maas', 'Yas', 'Cinsiyet'])

In [29]:
dataFrame2

            Maas       Yas  Cinsiyet
Ali     0.495003  0.484618  0.972222
Ayse    0.823754  0.679794  0.556649
Osman   0.023557  0.401956  0.170970
Mevlut  0.596172  0.859023  0.376871

In [30]:
dataFrame2['Cinsiyet']

Ali       0.972222
Ayse      0.556649
Osman     0.170970
Mevlut    0.376871
Name: Cinsiyet, dtype: float64

### Sadece Istedigimiz kismi getirmek istersek;

In [31]:
dataFrame2[['Maas', 'Yas']]

            Maas       Yas
Ali     0.495003  0.484618
Ayse    0.823754  0.679794
Osman   0.023557  0.401956
Mevlut  0.596172  0.859023

### Istedigimiz Row'u getirmek icin;

In [34]:
dataFrame2.loc['Ali']

Maas        0.495003
Yas         0.484618
Cinsiyet    0.972222
Name: Ali, dtype: float64

### Ust satirdaki sorgu islemini index ile de yapmak istersek;

In [35]:
dataFrame2.iloc[1]

Maas        0.823754
Yas         0.679794
Cinsiyet    0.556649
Name: Ayse, dtype: float64