# Series

Numpy Arrays'lerine benzer ancak Numpy'e gore daha serbesttir.

In [12]:
import numpy as np

In [1]:
import pandas as pd

In [2]:
a = pd.array([1, 2, 3, 4])

In [3]:
a

<IntegerArray>
[1, 2, 3, 4]
Length: 4, dtype: Int64

In [4]:
dictionary = {'Ali':20, 'Ayse':25, 'Osman':40, 'Ahmet':55, 'Fatma':33, 'Tugce':44}

In [5]:
dictionary

{'Ali': 20, 'Ayse': 25, 'Osman': 40, 'Ahmet': 55, 'Fatma': 33, 'Tugce': 44}

### Simdide Series olusturularim;

In [6]:
pd.Series(dictionary)

Ali      20
Ayse     25
Osman    40
Ahmet    55
Fatma    33
Tugce    44
dtype: int64

In [7]:
arrAge = [10, 20, 30]

In [8]:
arrName = ['Ali', 'Ayse', 'Ahmet']

### 2 Array'i birlestirdik

In [11]:
pd.Series(arrAge, arrName)

Ali      10
Ayse     20
Ahmet    30
dtype: int64

### Bir baska kullanimida;

In [12]:
pd.Series(data=arrAge, index=arrName)

Ali      10
Ayse     20
Ahmet    30
dtype: int64

## Bunlari Numpy ile yapmak istersek;

In [49]:
arrNumpy = np.array([10, 20, 30])

In [50]:
arrNumpy

array([10, 20, 30])

In [51]:
pd.Series(arrNumpy)

0    10
1    20
2    30
dtype: int32

In [52]:
pd.Series(data=arrNumpy, index=arrName)

Ali      10
Ayse     20
Ahmet    30
dtype: int32

### Manuelde Series Array'leri olusturabiliriz

#### Series'i  kullanirken veri turlerini yazmadigimiz zaman ilk girilen Array DATA'yi,  ikinci girilen Array INDEX'i temsil eder.

In [27]:
pd.Series(index=['Ali', 'Ayse','Kenan','Buse'], data=[1, 2, 3, 4])

Ali      1
Ayse     2
Kenan    3
Buse     4
dtype: int64

In [28]:
yarismaSonucu1 = pd.Series([10, 30, 5], ['Ali', 'Ayse', 'Fatma'])

In [29]:
yarismaSonucu1

Ali      10
Ayse     30
Fatma     5
dtype: int64

In [30]:
yarismaSonucu2 = pd.Series([20, 10, 15], ['Ali', 'Ayse', 'Fatma'])

In [31]:
yarismaSonucu2

Ali      20
Ayse     10
Fatma    15
dtype: int64

#### Series'Ä° olustururken ki girdigimiz indexlerle data'lara ulasiyoruz.

In [32]:
yarismaSonucu2['Fatma']

15

### 2 Series Array'ini toplayabiliriz;

In [33]:
result = yarismaSonucu1 + yarismaSonucu2

In [41]:
result

Ali      30
Ayse     40
Fatma    20
dtype: int64

### Peki 2 farkli index'e sahip Series Array'ini toplamaya calisalim;

In [42]:
ser1 = pd.Series([10, 20, 30, 40], ['a', 'b', 'c', 'd'])

In [43]:
ser2 = pd.Series([1, 2, 3, 4], ['a', 'c', 'e', 'g'])

In [44]:
ser1

a    10
b    20
c    30
d    40
dtype: int64

In [45]:
ser2

a    1
c    2
e    3
g    4
dtype: int64

In [46]:
result2 = ser1 + ser2

### Sadece 2 Series Array'inde bulunan index'lerin data'larini topladi.

In [53]:
result2

a    11.0
b     NaN
c    32.0
d     NaN
e     NaN
g     NaN
dtype: float64