# Pivot Table

## Genellikle Excel'de kullanilir...

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [7]:
data = {'Karakter Sinifi':['Sout Part', 'Sout Part', 'Simpson', 'Simpson', 'Simpson'],
       'Karakter Ismi':['Cartman', 'Kenny', 'Homer', 'Bart', 'Bart'],
       'Karakter Yasi':[9, 10, 50, 20, 10]}

In [8]:
karakterDF = pd.DataFrame(data=data)

In [9]:
karakterDF

  Karakter Sinifi Karakter Ismi  Karakter Yasi
0       Sout Part       Cartman              9
1       Sout Part         Kenny             10
2         Simpson         Homer             50
3         Simpson          Bart             20
4         Simpson          Bart             10

### aggfunc uygulamak istedigimiz functionu veriyoruz.

Bart karakterinin yasini toplayip getirdi.

In [14]:
karakterDF.pivot_table(values='Karakter Yasi', index=['Karakter Sinifi', 'Karakter Ismi'], aggfunc=np.sum)

                               Karakter Yasi
Karakter Sinifi Karakter Ismi
Simpson         Bart                      30
                Homer                     50
Sout Part       Cartman                    9
                Kenny                     10