# Metin Isleme;

### Metin verilerini yani "string" verilerini işlemek ve temizlemek zor olabilir. Çünkü metin verilerinde birçok yanlış ve tutarsızlık olabilir. Yanlış yazım, büyük harf küçük harf farkları, encoding tipleri, aynı değerin farklı şekillerde yazılabilmesi bu yanlış ve tutarsızlıklara örnektir. Örneğin; tarih yazarken "24/12/2018" de yazabiliriz "24-12-2018" de. Bu iki metnin belirttiği tarihler aynı ancak içerdiği bazı karakterler farklı.3

In [2]:
import numpy as np
import pandas as pd

### Data Frame'i olusturalim

In [3]:
df = pd.DataFrame(data = {
    'Veri': [
        '1987_E_ABD _1',
        '1990?_E_ING_1',
        '1992_K_ABD_2',
        '1970?_E_   IT_1',
        '1985_K_I  T_2'
    ]})

#### Bu DF sirasiyla; yil - cinsiyet - ulke - cocuk sayisi iceriyor

#### Bu bilgileri ayirip farkli sutunlar olarak isleyecegiz

In [6]:
df

              Veri
0    1987_E_ABD _1
1    1990?_E_ING_1
2     1992_K_ABD_2
3  1970?_E_   IT_1
4    1985_K_I  T_2

## Veri Column'unu split('_') ile ayir ve expand=True ile de her underscore arasini bir Column Yap!!!!

### Bu islem yeni bir data frame dondurdugunden df ye esitleyelim kalici olsun...

In [13]:
df = df['Veri'].str.split('_', expand=True)

In [14]:
df

       0  1      2  3
0   1987  E   ABD   1
1  1990?  E    ING  1
2   1992  K    ABD  2
3  1970?  E     IT  1
4   1985  K   I  T  2

### Sutun Isimlerini degistirelim;

In [16]:
df.columns = ['Yil', 'Cinsiyet', 'Ulke', 'Cocuk Sayisi']

In [17]:
df

     Yil Cinsiyet   Ulke Cocuk Sayisi
0   1987        E   ABD             1
1  1990?        E    ING            1
2   1992        K    ABD            2
3  1970?        E     IT            1
4   1985        K   I  T            2

### Verilerde herhangi bir metin ya da karakter bulunuyor mu diye kontrol etmek için "contains" metodunu kullanabiliriz. Örneğin; soru işareti (?) içeren verilere bakalım:

In [26]:
df['Yil'].str.contains('\?')

0    False
1    False
2    False
3    False
4    False
Name: Yil, dtype: bool

### Burada iki tane yıl verisi "?" içeriyor, bu işaretleri silmemiz lazım. "replace" metodu ile bu işaretleri boş string ("") ile değiştirerek silebiliriz:

Verilen hataya takilmayalim

In [36]:
df['Yil'] = df["Yil"].str.replace("\?", "")

C:\Users\mehmet\AppData\Local\Temp\ipykernel_12216\1571128917.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Yil'] = df["Yil"].str.replace("\?", "")

#### Goruldugu gibi ? olan yil degerlerini duzenledik

In [38]:
df['Yil']

0    1987
1    1990
2    1992
3    1970
4    1985
Name: Yil, dtype: object

In [39]:
df

    Yil Cinsiyet   Ulke Cocuk Sayisi
0  1987        E   ABD             1
1  1990        E    ING            1
2  1992        K    ABD            2
3  1970        E     IT            1
4  1985        K   I  T            2

#### Simdi de Ulke isimlerinde herhangi bir kural bozuklugu varmi bakalim. Mesela ' ' karakteri

### Bosluk karakteri olan rowlari bool olarak getirdik

In [42]:
df['Ulke'].str.contains(' ')

0     True
1    False
2    False
3     True
4     True
Name: Ulke, dtype: bool

### Simdi bosluk karakterlerini kaldiralim

In [46]:
df['Ulke'] = df['Ulke'].str.replace(" ", "")

In [47]:
df['Ulke']

0    ABD
1    ING
2    ABD
3     IT
4     IT
Name: Ulke, dtype: object

In [48]:
df

    Yil Cinsiyet Ulke Cocuk Sayisi
0  1987        E  ABD            1
1  1990        E  ING            1
2  1992        K  ABD            2
3  1970        E   IT            1
4  1985        K   IT            2

### Bosluk varmis gibi gorunse de alttaki satirla olmadiginin saglamasini yaptik

In [50]:
df['Ulke'].str.contains(' ')

0    False
1    False
2    False
3    False
4    False
Name: Ulke, dtype: bool