# Advanced Operation(Ileri Operasyonlar)

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [23]:
maasData = {'Isim':['Ali', 'Ayse', 'Zeynep', 'Muzeyyen'],
           'Departman':['Yazilim', 'Satis', 'Pazarlama', 'Yazilim'],
           'Maas':[300, 500, 250, 100]}

In [24]:
maasDataFrame = pd.DataFrame(data=maasData, index=[0,1,2,3])

In [25]:
maasDataFrame

       Isim  Departman  Maas
0       Ali    Yazilim   300
1      Ayse      Satis   500
2    Zeynep  Pazarlama   250
3  Muzeyyen    Yazilim   100

## Unique();
### Value alanina girilen Column veya Row degeri benzersiz olanlari getirir.

In [26]:
maasDataFrame['Departman'].unique()

array(['Yazilim', 'Satis', 'Pazarlama'], dtype=object)

### Nunique();
Benzersiz kac tane data old. getirir.

In [27]:
maasDataFrame['Departman'].nunique()

3

## Value_Counts();
### Belirli Row veya Column'dan toplam kac tane deger old. getirir.

In [28]:
maasDataFrame['Departman'].value_counts()

Yazilim      2
Satis        1
Pazarlama    1
Name: Departman, dtype: int64

In [29]:
maasDataFrame

       Isim  Departman  Maas
0       Ali    Yazilim   300
1      Ayse      Satis   500
2    Zeynep  Pazarlama   250
3  Muzeyyen    Yazilim   100

### Maas'in %66'sini bulmak istersek

In [30]:
def bruttenNete(maas):
    return maas * 0.66

#### apply(functionName);
int degerleri bir fonksiyona yollayip isleme taabi tutmak istersek kullaniyoruz;

In [31]:
maasDataFrame['Maas'].apply(bruttenNete)

0    198.0
1    330.0
2    165.0
3     66.0
Name: Maas, dtype: float64

#### Data Frame'de Null deger var mi yok mu?

In [32]:
maasDataFrame.isnull()

    Isim  Departman   Maas
0  False      False  False
1  False      False  False
2  False      False  False
3  False      False  False